@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Geist', system-ui, sans-serif;
  --font-arabic: 'Amiri', 'Noto Naskh Arabic', serif;
}

[dir='rtl'] {
  font-family: var(--font-arabic);
}
